input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-delete {
  color: #fff;
  background-color: #CF000F;
  border-color: #CF000F;
  float: right;
}

#createBtn {

  text-align: right;

}

#priceBtn {
  display: block;
  margin: auto;
}

#totalPrice h2 {

  text-align: center;
}

.quantity {
  margin: 0 5px;
}



.cartItem div {

  display: inline-block;
  width: 19%;
  margin: 0%;
}


#createItemContainer div {

  display: inline-block;
  width: 33%;
  margin: 2% 0%;

}

main {

  width: 70%;
  margin: auto
}

h1 {

  text-align: center;
  margin-bottom: 4%;

}

#calculateBtn {


  clear: left;
  margin: 3% auto;
  display: block;

}